/**
 * Beekeepers beekeepers.css
 *
 * Use this file to add your custom styles.
 *
 * You can change the name of this file, just
 * remember to update the name in the info file
 * as well.
 */

/* Define the header divs */
#header-wrapper {
}

/* HEADER TOP - contains the logo, site name and slogan */
#header-top {
  background: #6a513b url(../images/body_bg.png) top left repeat-x;
}
#bee1 {
  position: absolute;
  top: 21px;
  left: 1015px;
  background: url(../images/bee1.png) top left no-repeat;
  width: 99px;
  height: 86px;
}
#bee2 {
  position: absolute;
  top: 85px;
  left: 916px;
  background: url(../images/bee2.png) top left no-repeat;
  width: 94px;
  height: 79px;
}
#bee3 {
  position: absolute;
  top: 485px;
  left: 1071px;
  background: url(../images/bee3.png) top left no-repeat;
  width: 100px;
  height: 92px;
}
#branding {
  padding: 0 0 0 25px;
  width: 100%;
}
#logo {
  vertical-align: top;
}
#name-and-slogan {
  padding-top: 75px;
}
#site-name a {
  color: #f9faef;
}
#site-slogan {
  color: #e2ad20;
}

/* HEADER BOTTOM - contains the header region */
#header-bottom {
  background: #9c773d;
  border-top: 1px solid #bb9251;
  border-bottom: 1px solid #775b2f;
  margin-bottom: 10px;
}
#header-bottom .region-header {
  display: block;
  padding: 0 0 0 10px;
  width: 100%;
}
#header-bottom p {
  color: #f9faef;
}
#header-bottom .block {
  margin-top: 10px;
  margin-bottom: 10px;
}
#header-bottom .block p {
  margin: 0;
}

/* System help and messages */
#block-system-help {
  margin: 10px 20px;
}
#block-system-help p {
  margin: 1em;
}

/* Generate a horizontal line that fades out at each end */
.beekeeper-rule-off {
  margin: 2px 0 0 0;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

/* Style the username block */
.beekeeper-username {
}
.region-header .block-curruser a {
  color: #383838;
}
/* and float it to the right */
.region-header .block-curruser {
  clear: none;
  float: right;
  margin: 10px 12px 10px 0;
  border: 1px solid #c4c4c4;
  padding: 3px;
  border-radius: 3px;
}
